.author-panel {
    width: 60%; 
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.author-panel .ui-panel-title {
    font-size: 2em; 
}

.author-panel .ui-panel-grid {
    font-size: 2em;  
}

.author-panel .ui-button {
    font-size: 2em;
    margin-top: 20px;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px; 
    width: 100%;
    text-align: center;
}

.date {
    font-size: 26px;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.clock {
    background: #16191e;
    height: 300px;
    width: 300px;
    position: relative;
    box-sizing: content-box;
    border-radius: 50%;
    border: 15px solid #242931;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hand {
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}

.hour {
    height: 18.75%;
    width: 1.25%;
    top: 31.25%;
}

.minute {
    height: 25%;
    width: 1.56%;
    top: 25%;
}

.seconds {
    height: 28.13%;
    width: 0.94%;
    top: 21.88%;
    background-color: #2987e4;
}
